.sliderLayoutContainer{
    padding: 100px;
    width: 80%;
}

.slideChildrenContainer{
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
}

.paginationDotsContainer{
    bottom: -15px;
}

.sliderArrows{
    color: gold;
    bottom:-40px;
    position: absolute;
}

.sliderRightArrow{
    left: 54%;
}

.sliderLeftArrow{
    left: 44%;
}