/*
    Posiciona a paginação dots
*/
.paginationDotsContainer{
    bottom: -15px;
}

/*
    COMEÇO CUSTOMIZAÇÃO SLIDER
*/
.slide{
    height: 300px;    
    margin: 50px 0px;  
}
.caretIcon{
    margin: 0 30px;
}

.sliderTrack{
    flex-basis: 80%
}
/*
    FIM CUSTOMIZAÇÃO SLIDER
*/